@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fbfaf6;
  color: #263442;
  font-family: Arial, Helvetica, sans-serif;
}